.input {
    all: unset;
    box-sizing: border-box; // behöver sätta detta då unset clearar det som sätts i globalstyling
    margin: 0;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    background-color: var(--secondary-color);
}