li.MedicineListItem{
  border-radius: 10px;
  padding:1em;
  background-color: var(--secondary-color);
  list-style-type: none;
  display: grid;
  width:100%;
  grid-template-columns: 1fr  3em;
  grid-template-rows: auto;
  grid-template-areas: 
    "nameField icon"
    "contentField icon";

  margin-top: 24px;
  
}

li.MedicineListItem.displayInfo{
  padding-bottom: 3px;
  grid-template-areas: 
    "nameField nameField"
    "contentField contentField"
    "moreInfo moreInfo"
    "removeButton icon";
}

.moreMedInfo{
  margin-top: 0.6em;
  grid-area: moreInfo;
}

button.removeOrAddFromList{
  grid-area: removeButton;
}
.removeOrAddFromList.remove img{
  transform: rotate(45deg);
}

li.MedicineListItem .prepAndAmount {
  margin:0;
  margin-top: 0.4em;
  grid-area: contentField;
}

li.MedicineListItem h2.medicineName{
  grid-area: nameField;
}

li.MedicineListItem .prepAndAmount span {
  display: block;
}

li.MedicineListItem .prepAndAmount {

}

li.MedicineListItem .expandButton{
  width:3em;
  grid-area: icon;
  align-self: center;
}

li.MedicineListItem article{
  display: none;
}
li.MedicineListItem .removeOrAddFromList{
  display: none;
}

li.MedicineListItem.displayInfo button.removeOrAddFromList{
  display: block;
}

li.MedicineListItem.displayInfo article{
  display: block;
}