nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 24px;
    

    .navItem:last-child {
        margin-left: 0;
        margin-right: 54px;
    }
}

.navItem {
    display: flex;
    justify-content: center;
    margin-left: 54px;
    width: 34px;
}

.homeIcon {
    height: 24px;
}

.myListIcon {
    height: 24px;
    // width: auto;
}