nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 24px;

    :last-child {
        margin-right: 0;
    }
}

.navItem {
    margin-right: 10px;    
}

.homeIcon {
    height: 24px;
    width: auto;
}

.myListIcon {
    height: 24px;
    width: auto;
}